<body class="pt-5">
  <header>
    <!-- トップ固定ナビゲーション -->
    <nav class="navbar navbar-expand-md fixed-top bg-body-secondary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">プロジェクト名</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">概要</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">無効</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">リンク1</a></li>
                <li><a class="dropdown-item" href="#">リンク2</a></li>
                <li><a class="dropdown-item" href="#">リンク3</a></li>
              </ul>
            </li>
          </ul>
         <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
            <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <!-- 主なマーケティングメッセージまたは呼び出しのためのメインジャンボトロン -->
  <main>
    <div class="bg-body-tertiary p-3 p-sm-5 mb-4">
      <div class="container text-center">
        <h1 class="display-4">Osanpo!</h1>
        <p>これは、シンプルなマーケティングや情報提供のためのテンプレート。ジャンボトロンと呼ばれる大きな吹き出しと3つのコンテンツをサポートしている。よりユニークなものを作成するための出発点として使用する。</p>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <a class="btn btn-primary btn-lg" href="#" role="button">ログイン &raquo;</a>
            </div>
            <div class="col">
              <a class="btn btn-primary btn-lg" href="#" role="button">新規登録 &raquo;</a>
            </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container mt-2">
      <!-- 列の例 -->
      <div class="row">
        <div class="col-md-4">
          <h2>見出し</h2>
          <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
          <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>見出し</h2>
          <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
          <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>見出し</h2>
          <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
          <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div><!-- /.container -->
  </main>

  <!-- フッタ -->
  <footer class="container">
    <p>&copy; 会社名 2017–2024</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>